@{
    ViewBag.Title = "AgregarEntrenador";
}
@{
    // Recuperar el valor de la variable de sesión
    SPARTANFITApp.Dto.PersonaDto personaLogeo = Session["UserLogged"] as SPARTANFITApp.Dto.PersonaDto;
}
@if (personaLogeo == null)
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>Redirección automática en ASP.NET</title>
        <script type="text/javascript">
            window.onload = function () {
                setTimeout(function () {
                    window.location.href = 'Index';
                });
            };
        </script>
    </head>
    <body>
        <h1>Inicie Sesion primero</h1>
    </body>
</html>
}
else
{
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Scripts/css/StyleRegistro.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap"
          rel="stylesheet">
    <title>Agregar Entrenador</title>
</head>
<body>
    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Usuarios", "PrincipalAdministrador", "Home")</li>
            <li>@Html.ActionLink("Entrenadores", "MostrarEntrenadores", "Home")</li>
            <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home")</li>
        </ul>
    </header>
    <div class="cont_form">
        @using (Html.BeginForm("AgregarEntrenador", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Registrar Entrenador</h1>
            <div class="form-row">
                <div>
                    <label for="nombres">Nombres:</label>
                    <input type="text" id="nombres" name="nombres" required>
                </div>
                <div>
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" id="apellidos" name="apellidos" required>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" name="correo" required>
                </div>
                <div>
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" name="contrasena" required>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
                </div>

            </div>
            <div>
                <label for="genero">Genero:</label>
                <select id="genero" name="genero" required>
                    <option value="">Seleccione</option>
                    <option value="femenino">Femenino</option>
                    <option value="masculino">Masculino</option>
                </select>
            </div>
            <div class="centrado">
                <div class="form-row">
                    <button class="boton-crear" onclick="crearCuenta()">Crear Entrenador</button>
                </div>

            </div>
        }  @if (ViewData["Mensaje"] != null)
        {
            <p>@ViewData["Mensaje"]</p>
        }
        <div class="botoncito">
            <div class="container">
                <button class="boton-cancelar" onclick="confirmarCancelar()">Cancelar</button>
            </div>
        </div>
    </div>
        <script>
 function confirmarCancelar() {
     if (confirm("¿Estás seguro de que quieres cancelar?")) {
         window.location.href = '@Url.Action("MostrarEntrenadores", "Home")';
     } }
        </script>
        <script>

        </script>



</body>

</html>
}
