@{
    ViewBag.Title = "AgregarAlimento";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Scripts/css/StyleRegistro.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap"
          rel="stylesheet">
    <title>AgregarAlimento</title>
</head>
<body>
    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Ejercicios", "MostrarEjercicios", "Home")</li>
            <li>@Html.ActionLink("Rutinas", "", "Home")</li>
            <li>@Html.ActionLink("Plan Alimenticio", "MostrarAlimentos", "Home")</li>
            <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home")</li>
        </ul>
    </header>
    <div>
        @using (Html.BeginForm("AgregarAlimento", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h1>Agregar Alimento</h1>
            <div class="form-row">
                <div>
                    <label for="id_categoria_alimento">Categoria Alimento:</label>
                    <select id="id_categoria_alimento" name="id_categoria_alimento" required>
                        <option value="0">Seleccione</option>
                        <option value="1">Proteina</option>
                        <option value="2">Carbohidratos</option>
                        <option value="3">Frutas</option>

                    </select>
                </div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div>
                <label for="calorias_x_gramo">Calorias por gramo:</label>
                <input type="number" id="calorias_x_gramo" name="calorias_x_gramo" required>
            </div>
        
        <div class="form-row">
            <div>
                <label for="grasa">Grasa:</label>
                <input type="number" id="grasa" name="grasa" required>
            </div>
            <div>
                <label for="carbohidratos">Carbohidratos:</label>
                <input type="number" id="carbohidrato" name="carbohidrato" required>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label for="proteina">Proteina:</label>
                <input type="number" id="proteina" name="proteina" required>
            </div>
            <div>
                <label for="fibra">Fibra:</label>
                <input type="number" id="fibra" name="fibra" required>
            </div>
            <div class="centrado">
                <div class="form-row">
                    <button class="boton-crear" onclick="crearCuenta()">Agregar Alimento</button>
                </div>
                <div class="botoncito">
                    <div class="container">
                        <button class="boton-cancelar" onclick="confirmarCancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    }  @if (ViewData["Mensaje"] != null)
        {
            <p>@ViewData["Mensaje"]</p>
        }

    <script>
 function confirmarCancelar() {
     if (confirm("¿Estás seguro de que quieres cancelar?")) {
         window.location.href = '@Url.Action("MostrarAlimentos", "Home")';
     } }
    </script>
    <script>

    </script>



</body>

</html>