@{
    ViewBag.Title = "AgregarRutina";
    SPARTANFITApp.Dto.RutinaDto rutina = ViewData["Rutina"] as SPARTANFITApp.Dto.RutinaDto;
    var Ejercicios = ViewData["Ejercicios"] as List<SPARTANFITApp.Dto.EjercicioDto>;
    // Recuperar el valor de la variable de sesión
    SPARTANFITApp.Dto.PersonaDto personaLogeo = Session["entrenadorLogged"] as SPARTANFITApp.Dto.PersonaDto;
}

@if (personaLogeo == null)
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>Redirección automática en ASP.NET</title>
        <script type="text/javascript">
            window.onload = function () {
                setTimeout(function () {
                    window.location.href = 'Index';
                });
            };
        </script>
    </head>
    <body>
        <h1>Inicie Sesión primero</h1>
    </body>
</html>
}
else
{
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="~/Scripts/css/Styletablas.css" rel="stylesheet" />
    <link href="~/Scripts/css/StylePaginacionAgregar.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>MostrarEjercicios</title>
</head>
<body>
    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Ejercicios", "MostrarEjercicios", "Home")</li>
            <li>@Html.ActionLink("Rutinas", "MostrarRutinas", "Home")</li>
            <li>@Html.ActionLink("Plan Nutricion", "MostrarPlanesAlimenticios", "Home")</li>
            <li>@Html.ActionLink("Alimentos", "MostrarAlimentos", "Home")</li>
            <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home")</li>
        </ul>
    </header>
    <main class="centrarT">
        <div class="contTabla">
            @using (Html.BeginForm("FormAgregarRutina", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="id_nivel_rutina" name="id_nivel_rutina" value="@rutina.id_nivel_rutina" />
                <input type="hidden" id="id_objetivo" name="id_objetivo" value="@rutina.id_objetivo" />
                <input type="hidden" id="nombre_rutina" name="nombre_rutina" value="@rutina.nombre_rutina" />
                <input type="hidden" id="dia" name="dia" value="@rutina.dia" />
                <input type="hidden" id="descripcion" name="descripcion" value="@rutina.descripcion" />
                <input type="hidden" id="id_entrenador" name="id_entrenador" value="@personaLogeo.id_usuario" />
                <table id="tablaEjercicios">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombres</th>
                            <th>Grupo Muscular</th>
                            <th>Apoyo Visual</th>
                            <th>Series</th>
                            <th>Repeticiones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ejercicio in Ejercicios)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" id="selectedExercises" name="selectedExercises" />
                                    <input type="checkbox" class="ejercicio-checkbox" id="@ejercicio.id_ejercicio" name="id_ejercicio" value="@ejercicio.id_ejercicio">
                                </td>
                                <td>
                                    @ejercicio.nombre_ejercicio
                                </td>
                                <td>
                                    @ejercicio.id_grupo_muscular
                                </td>
                                <td>
                                    @ejercicio.apoyo_visual
                                </td>
                                <td>
                                    <input type="number" id="num_series_@ejercicio.id_ejercicio" class="inputEjercicio" name="num_series_@ejercicio.id_ejercicio">
                                </td>
                                <td>
                                    <input type="number" id="repeticiones_@ejercicio.id_ejercicio" class="inputEjercicio" name="repeticiones_@ejercicio.id_ejercicio">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="container botonCrear">
                    <button type="submit" class="boton-crear" onclick="ejecutar()">Crear Rutina</button>
                </div>
            }
        </div>

        @if (ViewData["Mensaje"] != null)
        {
            <p>@ViewData["Mensaje"]</p>
        }
    </main>

    <script>
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const selectedCheckboxIDs = [];

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                if (checkbox.checked) {
                    selectedCheckboxIDs.push(checkbox.id);
                } else {
                    const index = selectedCheckboxIDs.indexOf(checkbox.id);
                    if (index >= 0) {
                        selectedCheckboxIDs.splice(index, 1);
                    }
                }

                console.log(selectedCheckboxIDs);
            });
        });


        function getSelectedCheckboxIds(selectedCheckboxIDs) {
            const listadoSeries = [];
            const listadoRepeticiones = [];

            selectedCheckboxIDs.forEach(checkboxId => {
                const numSeries = document.getElementById('num_series_' + checkboxId).value;
                listadoSeries.push(numSeries);

                const numRepeticiones = document.getElementById('repeticiones_' + checkboxId).value;
                listadoRepeticiones.push(numRepeticiones);
            });

            const form = document.querySelector('form');

            for (const serie of listadoSeries) {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'listadoSeries[]';
                hiddenInput.value = serie;
                form.appendChild(hiddenInput);
            }

            for (const repeticiones of listadoRepeticiones) {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'listadoRepeticiones[]';
                hiddenInput.value = repeticiones;
                form.appendChild(hiddenInput);
            }

            for (const checkboxId of selectedCheckboxIDs) {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'selectedCheckboxIds[]';
                hiddenInput.value = checkboxId;
                form.appendChild(hiddenInput);
            }
            form.submit();
        }

        function ejecutar() {
            getSelectedCheckboxIds(selectedCheckboxIDs);
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tablaEjercicios').DataTable({
                searching: true,
                paging: false,
                info: false
            });
        });
    </script>
</body>
</html>
}
