@{
    ViewBag.Title = "AgregarRutina";
}
@{
    var Ejercicios = ViewData["Ejercicios"] as List<SPARTANFITApp.Dto.EjercicioDto>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="~/Scripts/css/Styletablas.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>MostrarEjercicios</title>
</head>
<body>

    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Ejercicios", "MostrarEjercicios", "Home")</li>
            <li>@Html.ActionLink("Rutinas", "", "Home")</li>
            <li>@Html.ActionLink("Plan Nutricion", "", "Home")</li>
            <li>@Html.ActionLink("Alimentos", "MostrarAlimentos", "Home")</li>
            <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home")</li>
        </ul>
    </header>
    <div class="centrarT">
        @using (Html.BeginForm("FormAgregarRutina", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombres</th>
                        <th>Grupo Muscular</th>
                        <th>Apoyo Visual</th>
                        <th>Series</th>
                        <th>Repeticiones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ejercicio in Ejercicios)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" id="id_ejercicio" value="@ejercicio.id_ejercicio">

                            </td>
                            <td>
                                @ejercicio.nombre_ejercicio
                                <input type="hidden" name="nombre_ejercicio" value="@ejercicio.nombre_ejercicio" />
                            </td>
                            <td>
                                @ejercicio.id_grupo_muscular
                                <input type="hidden" name="id_grupo_muscular" value="@ejercicio.id_grupo_muscular" />
                            </td>
                            <td>
                                @ejercicio.apoyo_visual
                                <input type="hidden" name="apoyo_visual" value="@ejercicio.apoyo_visual" />
                            </td>
                            <td>
                                <input type="number" id="num_series" name="num_series" required>
                            </td>
                            <td>
                                <input type="number" id="repeticiones" name="repeticiones" required>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (ViewData["Mensaje"] != null)
            {
                <p>@ViewData["Mensaje"]</p>
                }
            }
        </div>
    <div class="container">
        <button class="boton-crear" onclick="crearRutina()">Crear Rutina</button>
    </div>
    <script>
    function crearRutina() {
        window.location.href = '@Url.Action("PrincipalEntrenador", "Home")';
    }
    </script>
</body>
</html>