@{
    ViewBag.Title = "Formulario_Registro";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Scripts/css/StyleRegistro.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap"
          rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Iniciar sesión", "IniciarSesion", "Home")</li>
            <li>@Html.ActionLink("Registrarse", "Formulario_Registro", "Home")</li>
        </ul>
    </header>
    <div>
        <h2>Registrarse</h2>
        @using (Html.BeginForm("Formulario_Registro", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div>
                    <label for="nombres">Nombres:</label>
                    <input type="text" id="persona.nombres" name="persona.nombres" required>
                </div>
                <div>
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" id="persona.apellidos" name="persona.apellidos" required>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="correo">Correo:</label>
                    <input type="email" id="persona.correo" name="persona.correo" required>
                </div>
                <div>
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="persona.contrasena" name="persona.contrasena" required>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="persona.fecha_nacimiento" name="persona.fecha_nacimiento" required>
                </div>
                <div>
                    <label for="estatura">Estatura (CM):</label>
                    <input type="number" id="estatura" name="estatura" required>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="peso">Peso(KG):</label>
                    <input type="text" id="peso" name="peso" required>
                </div>
                <div>
                    <label for="genero">Genero:</label>
                    <select id="persona.genero" name="persona.genero" required>
                        <option value="">Seleccione</option>
                        <option value="femenino">Femenino</option>
                        <option value="masculino">Masculino</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="rehabilitacion">¿Esta en rehabilitacion fisica?</label>
                    <select id="rehabilitacion" name="rehabilitacion">
                        <option value="">Seleccione</option>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>
                </div>

            </div>
            <div class="form-row">
                <div id="nivelEntrenamientoDiv" style="display: none;">
                    <label for="id_nivel_entrenamiento">Nivel de entrenamiento:</label>
                    <select id="id_nivel_entrenamiento" name="id_nivel_entrenamiento">
                        <option value="0">Seleccione</option>
                        <option value="1">Básico</option>
                        <option value="2">Medio</option>
                        <option value="3">Avanzado</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div id="objetivo" style="display: none;">
                    <label for="id_objetivo">Objetivo:</label>
                    <select id="id_objetivo" name="id_objetivo">
                        <option value="0">Seleccione</option>
                        <option value="1">Definición</option>
                        <option value="2">Mantenimiento</option>
                        <option value="3">Hipertrofia</option>
                        <option value="4">Fuerza</option>
                    </select>
                </div>
            </div>
            <div class="centrado">
                <div class="form-row">
                    <button class="boton-crear" onclick="crearCuenta()">Crear cuenta</button>
                </div>
                <div class="botoncito">
                    <div class="container">
                        <button class="boton-cancelar" onclick="confirmarCancelar()">Cancelar</button>
                    </div>
                </div>
            </div>


        }  @if (ViewData["Mensaje"] != null)
    {
            <p>@ViewData["Mensaje"]</p>
    }
    </div>



    <script>
        document.getElementById("rehabilitacion").addEventListener("change", function () {
            var nivelEntrenamientoDiv = document.getElementById("nivelEntrenamientoDiv");
            var objetivo = document.getElementById("objetivo");
            if (this.value === "0") {
                nivelEntrenamientoDiv.style.display = "block";
                objetivo.style.display = "block";
            } else {
                nivelEntrenamientoDiv.style.display = "none";
                objetivo.style.display = "block";
            }
        });
    </script>


    <script>
    function confirmarCancelar() {
        if (confirm("¿Estás seguro de que quieres cancelar?")) {
            window.location.href = '@Url.Action("Index", "Home")';
        } }

    </script>
    <script>
    function crearCuenta() {
         window.alert("Cuenta creada con exito");
         window.location.href = '@Url.Action("Index", "Home")';
     }
    </script>
</body>

</html>
