@{
    ViewBag.Title = "MostrarRutinas";
}
@{
    List<SPARTANFITApp.Dto.RutinaDto> rutinas = ViewData["rutinas"] as List<SPARTANFITApp.Dto.RutinaDto>;
}

@{
    // Recuperar el valor de la variable de sesión
    SPARTANFITApp.Dto.PersonaDto personaLogeo = Session["entrenadorLogged"] as SPARTANFITApp.Dto.PersonaDto;
}

@if (personaLogeo == null)
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>Redirección automática en ASP.NET</title>
        <script type="text/javascript">
            window.onload = function () {
                setTimeout(function () {
                    window.location.href = 'Index';
                });
            };
        </script>
    </head>
    <body>
        <h1>Inicie Sesion primero</h1>
    </body>
</html>
}
else
{

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="~/Scripts/css/Styletablas.css" rel="stylesheet"
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Scripts/css/StylePag.css" rel="stylesheet" />
    <title>MostrarEjercicios</title>
</head>
<body>

    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Ejercicios", "MostrarEjercicios", "Home")</li>
            <li>@Html.ActionLink("Rutinas", "MostrarRutinas", "Home")</li>
            <li>@Html.ActionLink("Plan Nutricion", "MostrarPlanesAlimenticios", "Home")</li>
            <li>@Html.ActionLink("Alimentos", "MostrarAlimentos", "Home")</li>
            <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home")</li>
        </ul>
    </header>
    <main class="centrarT">
        <div class="contTabla">
            <table id="tablaEjercicios">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Id Objetivo</th>
                        <th>Id Nivel</th>
                        <th>Dia</th>
                        <th>Descripcion</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rutina in rutinas)
                    {
                        <tr>
                            <td>@rutina.nombre_rutina</td>
                            <td>@rutina.id_objetivo</td>
                            <td>@rutina.id_nivel_rutina</td>
                            <td>@rutina.dia</td>
                            <td>@rutina.descripcion</td>

                            <td>
                                @using (Html.BeginForm("EliminarRutina", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id_rutina" value=@rutina.id_rutina>
                                    <button type="submit" onclick="return confirmarEliminacion()" class="boton-icono"><img src="~/Scripts/img/eliminar.png" class="icono" alt="Eliminar"></button>

                                }  @if (ViewData["Mensaje"] != null)
                                {
                                    <p>@ViewData["Mensaje"]</p>
                                }

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </main>
    <div class="container">
        <button class="boton-crear" onclick="crearEjercicio()">Agregar rutina</button>
    </div>
    <script>
    function crearEjercicio() {
        window.location.href = '@Url.Action("CrearRutina", "Home")';
    }
    </script>
    <script>
        function confirmarEliminacion() {
            return confirm("¿Estás seguro de que quieres eliminar la rutina?");
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tablaEjercicios').DataTable({
                "pagingType": "full_numbers",
                "language": {
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>

</body>
</html>
}