@{
    ViewBag.Title = "Perfil";
}
@{
    // Recuperar el valor de la variable de sesión
    SPARTANFITApp.Dto.UsuarioDto usuario = Session["UserLogged"] as SPARTANFITApp.Dto.UsuarioDto;
}

@if (usuario == null)
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>Redirección automática en ASP.NET</title>
        <script type="text/javascript">
            window.onload = function () {
                setTimeout(function () {
                    window.location.href = 'Index';
                });
            };
        </script>
    </head>
    <body>
        <h1>Inicie Sesion primero</h1>
    </body>
</html>
}
else
{
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil</title>
    <link href="~/Scripts/css/stylesPerfil.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap"
          rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Rutina", "Rutina", "Home")</li>
            <li>@Html.ActionLink("Plan Alimenticio", "PlanAlimenticio", "Home")</li>
            <li>@Html.ActionLink("Perfil", "Perfil", "Home")</li>
            <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home")</li>
        </ul>
    </header>

    <div class="mostrarT">
        <div>
            <p>
                Nombres:
            </p>
            <div class="campos-container">
                @usuario.persona.nombres
            </div>
        </div>
        <div>
            <p>
                Apellidos:
            </p>
            <div class="campos-container">
                @usuario.persona.apellidos
            </div>
        </div>
        <div>
            <p>
                Fecha de Nacimiento:
            </p>
            <div class="campos-container">
                @usuario.persona.fecha_nacimiento
            </div>
        </div>
        <div>
            <p>
                Correo:
            </p>
            <div class="campos-container">
                @usuario.persona.correo
            </div>
        </div>
        <div>
            <p>
                Genero:
            </p>
            <div class="campos-container">
                @usuario.persona.genero
            </div>
        </div>
        <div>
            <p>
                Estatura:
            </p>
            <div class="campos-container">
                @usuario.estatura
            </div>
        </div>
        <div>
            <p>
                Peso:
            </p>
            <div class="campos-container">
                @usuario.peso
            </div>
        </div>
        <div>
            <p>
                Rehabilitacion:
            </p>
            <div class="campos-container">
                @usuario.rehabilitacion
            </div>
        </div>
        <div>
            <p>
                Nivel de Entrenamiento:
            </p>
            <div class="campos-container">
                @usuario.id_nivel_entrenamiento
            </div>
        </div>
        <div>
            <p>
                Objetivo:
            </p>
            <div class="campos-container">
                @usuario.id_objetivo
            </div>

        </div>
    </div>
    <div class="centrarB">
        
        <div class="boton">
            <button class="botCan" type="button" onclick="actualizarDatos()">Actualizar Objetivo</button>
        </div>
        <div class="boton">
            <button class="botCre" type="button" onclick="actualizarEstadisticas()">Actualizar Datos </button>
        </div>
    </div>

    <script>
        function actualizarEstadisticas() {
            window.location.href = '@Url.Action("ActualizarDatos", "Home")';
        }
    function actualizarDatos() {
        window.location.href ='@Url.Action("ActualizarObjetivo", "Home")';
    }
    </script>
</body>
</html>
}

