@{
    ViewBag.Title = "PrincipalUsuario";
}

@{
    var ejerciciosDia = ViewData["ejerciciosDia"] as List<SPARTANFITApp.Dto.EjercicioDto>;
    var rutinaDia = ViewData["rutinaDia"] as SPARTANFITApp.Dto.RutinaDto;
}
@{
    // Recuperar el valor de la variable de sesión
    SPARTANFITApp.Dto.UsuarioDto usuario = Session["UserLogged"] as SPARTANFITApp.Dto.UsuarioDto;
}

@if (usuario == null)
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>Redirección automática en ASP.NET</title>
        <script type="text/javascript">
            window.onload = function () {
                setTimeout(function () {
                    window.location.href = 'Index';
                });
            };
        </script>
    </head>
    <body>
        <h1>Inicie Sesion primero</h1>
    </body>
</html>
}
else
{
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/css/img.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Yatra+One&display=swap"
          rel="stylesheet">
    <title>PrincialUsuario</title>
</head>
<body>

    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Rutina", "PrincipalUsuario", "Home")</li>
            <li>@Html.ActionLink("Plan Alimenticio", "PlanNutricionalUsuario", "Home")</li>
            <li>@Html.ActionLink("Perfil", "Perfil", "Home")</li>
            <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion", "Home")</li>
        </ul>
    </header>
    <main>
        <div>
            <h1>
                Buen dia @usuario.persona.nombres
            </h1>
            <p>
                @rutinaDia.nombre_rutina
            </p>
        </div>
        @foreach (var ejercicio in ejerciciosDia)
        {
            <h2>
                @ejercicio.nombre_ejercicio
            </h2>
            <div class="centrarImg">
                <img src="@ejercicio.apoyo_visual" alt="@ejercicio.nombre_ejercicio">
            </div>
            <div class="mostrarT">

                <p>
                    Cantidad de series: @ejercicio.num_series
                </p>
                <p>
                    cantidad de repeticiones:@ejercicio.repeticiones
                </p>
            </div>
        }



    </main>
</body>
</html>
}
