@{
    ViewBag.Title = "Principal";
}
@{
    // Recuperar el valor de la variable de sesión
    SPARTANFITApp.Dto.UsuarioDto usuario = Session["UserLogged"] as SPARTANFITApp.Dto.UsuarioDto;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Principal</title>
</head>
<body>
    <header>
        <a href="#" class="logo"> SPARTANFIT</a>
        <ul>
            <li>@Html.ActionLink("Perfil Usuario", "PerfilUsuario", "Home")</li>
            <li>@Html.ActionLink("Iniciar sesión", "IniciarSesion", "Home")</li>
            <li>@Html.ActionLink("Registrarse", "Formulario_Registro", "Home")</li>
        </ul>
        <div>
            <p>
                @usuario.persona.id_usuario
            </p>
            <p>
                Nombre : @usuario.persona.nombres
            </p>
            <p>
                Apellidos: @usuario.persona.apellidos   
            </p>


        </div>
</body>
</html>
